
body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

.header {
 background-color: #333;
 padding: 1rem;
 text-align: center;
}

.header__title {
 color: white;
 margin: 0;
}

.grid {
 display: grid;
 grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
 gap: 10px;
 padding:20px;
 background-color: #f5f5f5;
}

.grid__item {
 background-color: white;
 padding: 1rem;
 border-radius: 1rem;
}

.grid__item__image {
 width: 100px;
 height: 100px;
 object-fit: cover;
 border-radius: 50%;

}

.grid__item__title {
 margin: 0;
 margin-top: 1rem;
}

.grid__item__name {
 margin: 0;
 margin-top: 0.5rem;
}